
  <!-- Подключаем скрипты -->
  <script src="../assets/js/modules/lozad.min.js"></script>
  <script src="../assets/js/modules/micromodal.min.js"></script>
  <script src="../assets/js/modules/tooltip.js"></script>
  <script src="../assets/js/global.js"></script>
  <script src="../assets/js/header.js"></script>
  <script src="../assets/js/menu.js"></script>
  <script src="../assets/js/contacts-btn.js"></script>


  <!-- Подключаем футер -->
  <footer class="footer">
    <div class="container container-footer">
      <!-- Верхняя часть -->
      <div class="footer__top">
        <!-- Контакты -->
        <div class="footer__logo-container footer__row-container">
          <!-- Лого -->
          <div class="footer__logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="800" height="624" viewBox="0 0 800 624" fill="none">
              <path
                d="M403.669 0C545.355 0 664.977 94.4679 702.987 223.854H722.935V271.56H799.999L748.623 330.275L799.999 392.661H705.045C669.469 525.798 548.021 623.853 403.669 623.853C259.318 623.852 137.869 525.798 102.294 392.661H0L51.376 330.275L0 271.56H77.0645V223.854H104.352C142.362 94.468 261.983 0.000214027 403.669 0ZM161.468 392.661H130.158C144.685 439.732 171.24 482.648 207.711 516.901L228.15 495.139C197.688 466.528 174.95 431.171 161.468 392.341V392.661ZM640.003 392.661C627.759 428.333 607.687 461.184 580.864 488.629L602.217 509.496C634.577 476.385 658.136 436.227 671.377 392.661H640.003ZM403.67 117.431C298.28 117.431 212.844 202.867 212.844 308.257C212.844 413.647 298.28 499.082 403.67 499.082C509.06 499.082 594.495 413.647 594.495 308.257C594.495 202.867 509.06 117.431 403.67 117.431ZM405.915 190.826C414.918 190.826 423.809 191.951 432.587 194.202C441.365 196.228 449.13 199.605 455.882 204.331C462.859 209.058 468.373 215.247 472.425 222.899C476.701 230.552 478.84 239.78 478.84 250.584C478.84 259.137 477.489 266.564 474.788 272.866C472.312 279.168 468.824 284.571 464.322 289.072C459.821 293.574 454.419 297.287 448.117 300.213C442.04 302.914 435.4 305.052 428.197 306.628C426.622 307.078 425.834 307.866 425.834 308.991C425.834 309.891 426.622 310.792 428.197 311.692C438.776 316.869 446.879 322.608 452.506 328.91C458.358 335.212 462.747 341.74 465.673 348.492C468.824 355.244 471.074 362.222 472.425 369.424C473.775 376.401 475.239 383.266 476.814 390.019C477.94 395.195 479.74 399.021 482.216 401.497C484.917 403.748 487.618 404.873 490.318 404.873C493.019 404.873 495.608 403.748 498.084 401.497C500.56 399.246 502.473 395.87 503.823 391.369C504.273 389.569 505.174 388.443 506.524 387.993C507.875 387.318 509.113 387.205 510.238 387.655C511.589 387.88 512.714 388.555 513.614 389.681C514.74 390.581 515.19 391.594 514.965 392.72C514.29 398.347 512.714 403.186 510.238 407.237C507.762 411.289 504.723 414.664 501.122 417.365C497.746 419.841 493.807 421.642 489.306 422.768C485.029 424.118 480.753 424.793 476.477 424.793C469.274 424.793 462.747 423.217 456.895 420.066C451.043 416.915 447.104 412.413 445.078 406.562C443.728 402.735 442.378 398.572 441.027 394.07C439.902 389.569 438.776 385.067 437.65 380.565C436.525 375.839 435.4 371.337 434.274 367.061C433.149 362.559 432.137 358.62 431.236 355.244C427.185 340.839 421.895 330.486 415.368 324.184C409.066 317.882 400.175 314.73 388.696 314.73C384.87 314.731 381.607 315.518 378.906 317.094C376.205 318.669 374.855 321.82 374.854 326.547V372.125C374.854 379.777 375.642 385.967 377.218 390.693C378.793 395.195 381.157 398.796 384.308 401.497C387.459 403.973 391.286 405.774 395.787 406.899C400.514 408.025 405.915 408.813 411.992 409.263C413.343 409.263 414.355 409.938 415.03 411.288C415.931 412.413 416.381 413.764 416.381 415.34C416.381 416.69 415.931 417.928 415.03 419.054C414.355 420.179 413.23 420.741 411.654 420.741C400.401 420.741 390.497 420.291 381.944 419.391C373.392 418.49 365.064 418.04 356.961 418.04C348.408 418.04 339.967 418.49 331.64 419.391C323.312 420.291 315.21 420.741 307.332 420.741C305.982 420.741 304.968 420.179 304.293 419.054C303.618 417.928 303.167 416.69 302.942 415.34C302.942 413.989 303.281 412.751 303.956 411.626C304.631 410.276 305.757 409.488 307.332 409.263C313.634 408.587 318.811 407.687 322.862 406.562C326.913 405.436 330.065 403.636 332.315 401.16C334.566 398.684 336.029 395.42 336.704 391.369C337.604 387.318 338.055 381.915 338.055 375.163V248.559C338.055 243.607 337.829 238.768 337.379 234.041C337.154 229.314 336.479 224.925 335.354 220.874C334.228 216.823 332.428 213.334 329.952 210.408C327.701 207.482 324.55 205.456 320.499 204.331C318.023 203.656 315.434 203.093 312.733 202.643C310.033 202.192 307.444 201.855 304.969 201.63C303.618 201.63 302.605 201.067 301.93 199.941C301.255 198.816 300.917 197.578 300.917 196.228C300.917 194.877 301.255 193.64 301.93 192.515C302.605 191.389 303.618 190.826 304.969 190.826C312.621 190.826 319.486 191.051 325.562 191.501C331.64 191.951 338.73 192.177 346.833 192.177C360.337 191.952 371.479 191.726 380.257 191.501C389.26 191.051 397.812 190.826 405.915 190.826ZM396.462 205.006C387.684 205.006 381.832 206.131 378.906 208.382C376.205 210.633 374.854 215.247 374.854 222.225V288.734C374.855 294.586 376.43 298.075 379.581 299.2C382.957 300.1 387.909 300.551 394.437 300.551C403.214 300.551 410.529 299.763 416.381 298.188C422.458 296.387 427.297 293.573 430.898 289.747C434.5 285.696 436.976 280.632 438.326 274.555C439.902 268.253 440.689 260.6 440.689 251.597C440.689 243.044 439.902 235.841 438.326 229.989C436.751 223.912 434.162 219.073 430.561 215.472C427.184 211.646 422.683 208.945 417.057 207.369C411.43 205.794 404.565 205.006 396.462 205.006ZM184.296 124.388C159.584 153.871 141.303 187.743 130.159 223.854H161.468V224.174C171.593 195.009 186.99 167.653 207.178 143.566L184.296 124.388ZM586.767 136.48C610.118 162.034 627.832 191.799 639.183 223.854H670.651C658.249 184.27 637.282 147.5 608.807 116.34L586.767 136.48Z"
                fill="#14142D" />
            </svg>

            <div class="logo-box">
              <span class="logo-span-main">REALTOR</span>
              <span class="logo-span-sub">Estate Agency</span>
            </div>
          </div>
          <!-- Адресса -->
          <div class="footer__logo-address">
            <span class="logo-address-street">10/4 Market Square St.</span>
            <span class="logo-address-city">Ivano-Frankivsk</span>
            <a class="logo-address-office" href="tel:+380342501303">
              office: +38 (0342) 501-303
            </a>
            <a class="logo-address-phone" href="tel:+380673438074">
              mobile: +38 (067) 343-80-74
            </a>
          </div>
          <!-- О нас -->
          <div class="footer__logo-list">
            <a href="#" class="logo-list-about">About Us</a>
            <a href="#" class="logo-list-realtors">Our Rialtors</a>
            <a href="#" class="logo-list-contact">Contact Us</a>
          </div>
          <!-- Email input -->
          <div class="email-input">
            <span class="email-input__icon-left">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <g opacity="0.6">
                  <path
                    d="M17.25 11.25C13.95 11.25 11.25 13.95 11.25 17.25C11.25 20.55 13.95 23.25 17.25 23.25C20.55 23.25 23.25 20.55 23.25 17.25C23.25 13.95 20.55 11.25 17.25 11.25ZM19.5 18H18V19.5C18 19.95 17.7 20.25 17.25 20.25C16.8 20.25 16.5 19.95 16.5 19.5V18H15C14.55 18 14.25 17.7 14.25 17.25C14.25 16.8 14.55 16.5 15 16.5H16.5V15C16.5 14.55 16.8 14.25 17.25 14.25C17.7 14.25 18 14.55 18 15V16.5H19.5C19.95 16.5 20.25 16.8 20.25 17.25C20.25 17.7 19.95 18 19.5 18Z"
                    fill="white" />
                  <path
                    d="M9.75 17.25C9.75 16.2 9.975 15.15 10.425 14.25C10.275 14.25 10.125 14.175 10.05 14.1L8.85 13.05L5.025 16.35C4.875 16.425 4.65 16.5 4.5 16.5C4.275 16.5 4.05 16.425 3.9 16.275C3.6 15.975 3.675 15.525 3.975 15.225L7.65 12.075L3.975 8.925C3.675 8.625 3.6 8.175 3.9 7.875C4.2 7.575 4.65 7.5 4.95 7.8L10.425 12.6L15.9 7.8C16.2 7.5 16.65 7.575 16.95 7.875C17.25 8.175 17.175 8.625 16.875 8.925L15.75 9.9C16.2 9.825 16.725 9.75 17.25 9.75C18.3 9.75 19.35 9.975 20.25 10.35V6.75C20.25 5.475 19.275 4.5 18 4.5H3C1.725 4.5 0.75 5.475 0.75 6.75V17.25C0.75 18.525 1.725 19.5 3 19.5H10.125C9.9 18.825 9.75 18 9.75 17.25Z"
                    fill="white" />
                </g>
              </svg>
            </span>
            <input type="email" class="email-input__field" placeholder="Enter your e-mail" />
            <button class="email-input__send">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <g clip-path="url(#clip0_1789_1123)">
                  <path
                    d="M20.7825 3.21745C20.6813 3.1167 20.5534 3.04695 20.4139 3.01639C20.2744 2.98584 20.1291 2.99574 19.995 3.04495L3.495 9.04495C3.3527 9.09892 3.23019 9.19491 3.14374 9.32016C3.05729 9.44542 3.01099 9.59401 3.01099 9.7462C3.01099 9.89839 3.05729 10.047 3.14374 10.1722C3.23019 10.2975 3.3527 10.3935 3.495 10.4474L9.9375 13.0199L14.6925 8.24995L15.75 9.30745L10.9725 14.0849L13.5525 20.5275C13.6081 20.667 13.7043 20.7866 13.8286 20.8709C13.953 20.9551 14.0998 21.0001 14.25 20.9999C14.4016 20.9968 14.5486 20.9479 14.6718 20.8595C14.795 20.7711 14.8885 20.6475 14.94 20.5049L20.94 4.00495C20.9911 3.87226 21.0034 3.72777 20.9755 3.58834C20.9477 3.44891 20.8807 3.32028 20.7825 3.21745Z"
                    fill="white" />
                </g>
                <defs>
                  <clipPath id="clip0_1789_1123">
                    <rect width="24" height="24" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
        </div>
        <!-- Соц сети моб -->
        <div class="footer__logo-social mobile">
          <a href="#" class="logo-social-youtube">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="youtube-cls-1" d="M12 22V10L22 15.6842L12 22Z" />
              <path class="youtube-cls-2"
                d="M31.1276 8.37357C30.7641 7.01353 29.6928 5.94221 28.3327 5.57867C25.8677 4.91797 15.9821 4.91797 15.9821 4.91797C15.9821 4.91797 6.09651 4.91797 3.63144 5.57867C2.2714 5.94221 1.20009 7.01353 0.836543 8.37357C0.175842 10.8386 0.175842 15.9823 0.175842 15.9823C0.175842 15.9823 0.175842 21.126 0.836543 23.5911C1.20009 24.9512 2.2714 26.0225 3.63144 26.386C6.09651 27.0467 15.9821 27.0467 15.9821 27.0467C15.9821 27.0467 25.8677 27.0467 28.3327 26.386C29.6928 26.0225 30.7641 24.9512 31.1276 23.5911C31.7883 21.126 31.7883 15.9823 31.7883 15.9823C31.7883 15.9823 31.7883 10.8386 31.1276 8.37357ZM12.8208 20.7242V11.2405L21.0338 15.9823L12.8208 20.7242Z" />
            </svg>

          </a>
          <a href="#" class="logo-social-facebook">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_19_231)">
                <path class="facebook-cls-1"
                  d="M17.5 25H14V17H11.5V13.5H13.5V9.5L16.5 7H20.5V10.5H18L17.5 13.5H20.5V17H17.5V25Z" fill="white" />
                <path class="facebook-cls-2"
                  d="M15.9821 0.175781C7.25244 0.175781 0.175812 7.25241 0.175812 15.982C0.175812 24.7116 7.25244 31.7883 15.9821 31.7883C24.7117 31.7883 31.7883 24.7116 31.7883 15.982C31.7883 7.25241 24.7117 0.175781 15.9821 0.175781ZM20.5381 10.1176H18.8957C17.5985 10.1176 17.3463 10.734 17.3463 11.6381V13.6322H20.4493L20.0355 16.7639H17.3463V24.7633H14.1152V16.7639H11.426V13.6322H14.1152V11.328C14.1152 8.64898 15.7474 7.20113 18.1303 7.20113C18.9347 7.19762 19.7383 7.23907 20.5381 7.32512V10.1176Z"
                  fill="#1877F2" />
              </g>
              <defs>
                <clipPath id="clip0_19_231">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>

          </a>
          <a href="#" class="logo-social-instagram">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_19_234)">
                <rect x="7" y="7" width="18" height="18" rx="5" class="instagram-cls-1" />
                <path
                  d="M21.5884 11.2948C21.5884 10.7901 21.1792 10.3809 20.6744 10.3809C20.1697 10.3809 19.7605 10.7901 19.7605 11.2948C19.7605 11.7996 20.1697 12.2088 20.6744 12.2088C21.1795 12.2084 21.5884 11.7996 21.5884 11.2948Z"
                  class="instagram-cls-2" />
                <path
                  d="M15.9821 11.7949C13.6694 11.7949 11.7948 13.6695 11.7948 15.9822C11.7948 16.5603 11.9121 17.1111 12.1239 17.612C12.3357 18.1129 12.6424 18.5642 13.0214 18.9429C13.779 19.7005 14.8261 20.1694 15.9824 20.1694C17.1387 20.1694 18.1854 19.7009 18.9434 18.9429C19.3224 18.5639 19.6291 18.1129 19.8409 17.612C20.0527 17.1111 20.17 16.5603 20.17 15.9822C20.1693 13.6695 18.2947 11.7949 15.9821 11.7949Z"
                  class="instagram-cls-3" />
                <path
                  d="M15.9821 0.175781C7.25244 0.175781 0.175812 7.25241 0.175812 15.982C0.175812 24.7116 7.25244 31.7883 15.9821 31.7883C24.7117 31.7883 31.7883 24.7116 31.7883 15.982C31.7883 7.25241 24.7117 0.175781 15.9821 0.175781ZM24.7633 19.5781C24.7633 22.4419 22.4419 24.7633 19.5782 24.7633H12.386C9.52222 24.7633 7.20081 22.4419 7.20081 19.5781V12.3859C7.20081 11.3122 7.52712 10.3146 8.08631 9.48707C9.01818 8.10771 10.596 7.20078 12.386 7.20078H19.5785C21.3681 7.20078 22.9463 8.10771 23.8782 9.48672C24.437 10.3143 24.7633 11.3118 24.7633 12.3859V19.5781Z"
                  class="instagram-cls-4" />
              </g>
              <defs>
                <linearGradient id="instagram-gradient" x1="25.5" y1="5" x2="6" y2="28.5"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#BA00ED" />
                  <stop offset="0.5" stop-color="#FF5689" />
                  <stop offset="1" stop-color="#FFC420" />
                </linearGradient>
                <clipPath id="clip0_19_234">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </a>
          <a href="#" class="logo-social-twitter">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_19_239)">
                <path class="twitter-cls-1"
                  d="M8 25H6L14 17L6.5 7H12L17 13L22.5 7H24.5L17.5 14.5L25.5 25H20L14.5 18L8 25Z" />
                <path class="twitter-cls-2" d="M8.91843 8.25781L20.4746 23.7058H23.0914L11.5352 8.25781H8.91843Z" />
                <path class="twitter-cls-2"
                  d="M15.9821 0.175781C7.25244 0.175781 0.175812 7.25241 0.175812 15.982C0.175812 24.7116 7.25244 31.7883 15.9821 31.7883C24.7117 31.7883 31.7883 24.7116 31.7883 15.982C31.7883 7.25241 24.7117 0.175781 15.9821 0.175781ZM19.8571 24.9403L14.596 17.9058L8.08456 24.9403H6.41085L13.8482 16.9058L6.45757 7.02375H12.1538L16.9989 13.5022L22.9955 7.02375H24.6692L17.7467 14.5026L25.5533 24.9403H19.8571Z" />
              </g>
              <defs>
                <clipPath id="clip0_19_239">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>

          </a>
          <a href="#" class="logo-social-tiktok">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_19_243)">
                <path class="tiktok-cls-1"
                  d="M15 17V13.5C13.8333 13.5 11 13.5 9 16.5C6.99999 19.5 8.16666 22.1667 9 23.5C9.66666 24.6667 11.9 26.8 15.5 26C19.1 25.2 20.3333 22 20.5 20.5V12.5C20.8333 12.6667 21.6 13.1 22 13.5C22.4 13.9 24.5 14.3333 25.5 14.5V11C24.8333 10.8333 23.2 10.3 22 9.5C20.8 8.7 20.5 6.83333 20.5 6H17C17.1667 10.5 17.4 19.8 17 21C16.5 22.5 15 22.5 13 22.5C11 22.5 10.5 19.5 11.5 18C12.5 16.5 14 16.8333 15 17Z" />
                <path class="tiktok-cls-2"
                  d="M15.9821 0.175781C7.25244 0.175781 0.175812 7.25241 0.175812 15.982C0.175812 24.7116 7.25244 31.7883 15.9821 31.7883C24.7117 31.7883 31.7883 24.7116 31.7883 15.982C31.7883 7.25241 24.7117 0.175781 15.9821 0.175781ZM25.4795 11.8643V14.2381C24.3601 14.2384 23.2726 14.0192 22.247 13.5865C21.5873 13.308 20.973 12.9493 20.411 12.5159L20.4278 19.8222C20.4208 21.4675 19.7699 23.0134 18.5918 24.1777C17.6329 25.1254 16.4183 25.7282 15.1015 25.9235C14.792 25.9691 14.4773 25.9927 14.1587 25.9927C12.7492 25.9927 11.4109 25.536 10.3164 24.6937C10.1106 24.535 9.91351 24.3632 9.72595 24.1781C8.44915 22.9161 7.79091 21.2058 7.90155 19.4067C7.98621 18.0372 8.53451 16.7309 9.44846 15.7074C10.6578 14.3526 12.3498 13.6006 14.1587 13.6006C14.477 13.6006 14.792 13.6244 15.1015 13.6701V14.5479V16.9894C14.8082 16.8928 14.4949 16.8394 14.1686 16.8394C12.5159 16.8394 11.1787 18.1879 11.2033 19.8419C11.2191 20.9002 11.7969 21.8251 12.6498 22.3351C13.0505 22.5746 13.5114 22.7232 14.0031 22.7503C14.3884 22.7713 14.7587 22.7176 15.1011 22.6045C16.282 22.2143 17.1338 21.1054 17.1338 19.7973L17.1377 14.9044V5.97141H20.4068C20.4099 6.29526 20.4429 6.61138 20.5037 6.91767C20.7503 8.15723 21.4493 9.23276 22.4215 9.96582C23.2694 10.6054 24.3253 10.9844 25.4697 10.9844C25.4704 10.9844 25.4799 10.9844 25.4792 10.9837L25.4795 11.8643Z" />
              </g>
              <defs>
                <clipPath id="clip0_19_243">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>

          </a>
        </div>
        <!-- Навигация -->
        <div class="footer__navigation-container footer__row-container">
          <h3>Navigation <svg xmlns="http://www.w3.org/2000/svg" class="arrow-list-mobile-svg" width="8" height="5"
              viewBox="0 0 8 5" fill="none">
              <path
                d="M6.82725 0H1.0021C0.0723016 0 -0.354209 1.15797 0.353448 1.76108L3.46019 4.40888C3.85322 4.74385 4.43666 4.72446 4.80659 4.36414L7.52499 1.71635C8.16774 1.09029 7.72451 0 6.82725 0Z"
                fill="white" />
            </svg></h3>
          <div class="footer__navigation-box footer__row-box">
            <div>
              <a href="#">Flats</a>
              <a href="#">Mansions</a>
              <a href="#">Offices</a>
              <a href="#">Commercial Properties</a>
              <a href="#">Garages</a>
              <a href="#">Land</a>
            </div>
            <div>
              <a href="#">Luxury Real Estate</a>
              <a href="#">Real Estate in the Carpathians</a>
              <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none">
                  <g clip-path="url(#clip0_1205_750)">
                    <path
                      d="M8.17777 23.8412L6.88667 19.471C6.82423 19.3077 6.74178 19.1293 6.64773 18.9589C6.55395 18.7882 6.44725 18.6228 6.33055 18.4676C6.21411 18.3127 6.08503 18.1638 5.94699 18.0258C5.80921 17.8883 5.66063 17.7592 5.5052 17.6425C5.35056 17.5263 5.18512 17.4194 5.01389 17.3251C4.84345 17.2313 4.66484 17.1488 4.48306 17.0801L0.131866 15.7955L4.50203 14.5044C4.66484 14.4423 4.84345 14.3601 5.01442 14.2658C5.18565 14.1715 5.35083 14.0645 5.50547 13.9483C5.66089 13.8316 5.80947 13.7025 5.94725 13.565C6.08529 13.427 6.21411 13.2784 6.33055 13.1232C6.44752 12.9678 6.55421 12.8024 6.64799 12.6319C6.74204 12.4615 6.82423 12.2829 6.89299 12.1011L8.17777 7.74963L9.46888 12.1198C9.53184 12.2837 9.61404 12.4623 9.70782 12.6322C9.80134 12.8024 9.9083 12.9678 10.0253 13.1235C10.1414 13.2784 10.2705 13.4272 10.4086 13.5653C10.5463 13.7028 10.6949 13.8319 10.8503 13.9486C11.005 14.0648 11.1704 14.1717 11.3417 14.266C11.5126 14.3601 11.691 14.4423 11.8722 14.5108L16.2237 15.7958L11.8538 17.0866C11.6907 17.1491 11.5121 17.2315 11.3414 17.3256C11.1702 17.4199 11.005 17.5269 10.8501 17.643C10.6947 17.7597 10.5461 17.8888 10.4083 18.0263C10.2703 18.1644 10.1414 18.313 10.025 18.4679C9.90777 18.6238 9.80108 18.789 9.70756 18.9592C9.61562 19.1262 9.53421 19.3019 9.46572 19.4813L8.17777 23.8412Z"
                      fill="white" />
                    <path
                      d="M18.3317 11.1517L17.4107 8.03417C17.3738 7.9396 17.3227 7.82869 17.2648 7.72331C17.206 7.61689 17.1399 7.51415 17.0675 7.41799C16.995 7.32131 16.9147 7.22911 16.8293 7.14375C16.744 7.0584 16.652 6.97831 16.5553 6.9056C16.4587 6.8329 16.3562 6.76677 16.2503 6.70829C16.1444 6.64981 16.0332 6.5987 15.9205 6.55602L12.8219 5.64137L15.9392 4.72039C16.0332 4.68404 16.1444 4.63267 16.2505 4.57445C16.3562 4.51623 16.4587 4.4501 16.5551 4.37739C16.652 4.30469 16.744 4.2246 16.829 4.13951C16.9147 4.05416 16.9948 3.96195 17.0675 3.86501C17.1396 3.76885 17.206 3.66611 17.2648 3.55995C17.323 3.45457 17.3741 3.34367 17.417 3.23039L18.3317 0.131836L19.2524 3.24936C19.2893 3.34393 19.3404 3.45484 19.3984 3.56021C19.4571 3.66664 19.5232 3.76938 19.5957 3.86554C19.6681 3.96222 19.7485 4.05442 19.8338 4.13977C19.9192 4.22513 20.0111 4.30521 20.1078 4.37792C20.2045 4.45063 20.3069 4.51675 20.4129 4.57524C20.5188 4.63346 20.6299 4.68483 20.7427 4.7275L23.8412 5.64163L20.724 6.56261C20.6299 6.59896 20.5188 6.65033 20.4126 6.70855C20.3069 6.76677 20.2045 6.8329 20.1081 6.9056C20.0111 6.97831 19.9192 7.0584 19.8341 7.14349C19.7485 7.22884 19.6684 7.32105 19.5957 7.41799C19.5235 7.51415 19.4571 7.61689 19.3984 7.72305C19.3417 7.82579 19.2917 7.93354 19.2495 8.04365L18.3317 11.1517Z"
                      fill="white" />
                  </g>
                  <defs>
                    <clipPath id="clip0_1205_750">
                      <rect width="24" height="24" fill="white" />
                    </clipPath>
                  </defs>
                </svg> Exlusives</a>
              <a href="#">Investment Projects</a>
            </div>
          </div>
        </div>
        <!-- Лева часть -->
        <div class="footer__rowLeft-form footer__row-container">
          <h3>Listing Form <svg xmlns="http://www.w3.org/2000/svg" class="arrow-list-mobile-svg" width="8" height="5"
              viewBox="0 0 8 5" fill="none">
              <path
                d="M6.82725 0H1.0021C0.0723016 0 -0.354209 1.15797 0.353448 1.76108L3.46019 4.40888C3.85322 4.74385 4.43666 4.72446 4.80659 4.36414L7.52499 1.71635C8.16774 1.09029 7.72451 0 6.82725 0Z"
                fill="white" />
            </svg></h3>
          <div class="footer__rowLeft-box footer__row-box">
            <div>
              <a href="#">Apartments in new buildings</a>
              <a href="#">One-room apartments</a>
              <a href="#">Two-room apartments</a>
              <a href="#">Three-room apartments</a>
            </div>
            <div>
              <a href="#">Secondary market</a>
              <a href="#">Apartment rentals</a>
              <a href="#">Mansions rentals</a>
              <a href="#">Daily rentals</a>
              <a href="#">Houses with renovation</a>
              <a href="#">Raw houses</a>
            </div>
          </div>
        </div>
        <!-- Правая часть -->
        <div class="footer__rowRight-form footer__row-container">
          <h3>Listing Form <svg xmlns="http://www.w3.org/2000/svg" class="arrow-list-mobile-svg" width="8" height="5"
              viewBox="0 0 8 5" fill="none">
              <path
                d="M6.82725 0H1.0021C0.0723016 0 -0.354209 1.15797 0.353448 1.76108L3.46019 4.40888C3.85322 4.74385 4.43666 4.72446 4.80659 4.36414L7.52499 1.71635C8.16774 1.09029 7.72451 0 6.82725 0Z"
                fill="white" />
            </svg></h3>
          <div class="footer__rowRight-box footer__row-box">
            <div>
              <a href="#">Apartments in new buildings</a>
              <a href="#">One-room apartments</a>
              <a href="#">Two-room apartments</a>
              <a href="#">Three-room apartments</a>
            </div>
            <div>
              <a href="#">Secondary market</a>
              <a href="#">Apartment rentals</a>
              <a href="#">Mansions rentals</a>
              <a href="#">Daily rentals</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__top-bottom">
        <!-- Соц сети -->
        <div class="footer__logo-social">
          <a href="#" class="logo-social-youtube">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="youtube-cls-1" d="M12 22V10L22 15.6842L12 22Z" />
              <path class="youtube-cls-2"
                d="M31.1276 8.37357C30.7641 7.01353 29.6928 5.94221 28.3327 5.57867C25.8677 4.91797 15.9821 4.91797 15.9821 4.91797C15.9821 4.91797 6.09651 4.91797 3.63144 5.57867C2.2714 5.94221 1.20009 7.01353 0.836543 8.37357C0.175842 10.8386 0.175842 15.9823 0.175842 15.9823C0.175842 15.9823 0.175842 21.126 0.836543 23.5911C1.20009 24.9512 2.2714 26.0225 3.63144 26.386C6.09651 27.0467 15.9821 27.0467 15.9821 27.0467C15.9821 27.0467 25.8677 27.0467 28.3327 26.386C29.6928 26.0225 30.7641 24.9512 31.1276 23.5911C31.7883 21.126 31.7883 15.9823 31.7883 15.9823C31.7883 15.9823 31.7883 10.8386 31.1276 8.37357ZM12.8208 20.7242V11.2405L21.0338 15.9823L12.8208 20.7242Z" />
            </svg>

          </a>
          <a href="#" class="logo-social-facebook">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_19_231)">
                <path class="facebook-cls-1"
                  d="M17.5 25H14V17H11.5V13.5H13.5V9.5L16.5 7H20.5V10.5H18L17.5 13.5H20.5V17H17.5V25Z" fill="white" />
                <path class="facebook-cls-2"
                  d="M15.9821 0.175781C7.25244 0.175781 0.175812 7.25241 0.175812 15.982C0.175812 24.7116 7.25244 31.7883 15.9821 31.7883C24.7117 31.7883 31.7883 24.7116 31.7883 15.982C31.7883 7.25241 24.7117 0.175781 15.9821 0.175781ZM20.5381 10.1176H18.8957C17.5985 10.1176 17.3463 10.734 17.3463 11.6381V13.6322H20.4493L20.0355 16.7639H17.3463V24.7633H14.1152V16.7639H11.426V13.6322H14.1152V11.328C14.1152 8.64898 15.7474 7.20113 18.1303 7.20113C18.9347 7.19762 19.7383 7.23907 20.5381 7.32512V10.1176Z"
                  fill="#1877F2" />
              </g>
              <defs>
                <clipPath id="clip0_19_231">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>

          </a>
          <a href="#" class="logo-social-instagram">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_19_234)">
                <rect x="7" y="7" width="18" height="18" rx="5" class="instagram-cls-1" />
                <path
                  d="M21.5884 11.2948C21.5884 10.7901 21.1792 10.3809 20.6744 10.3809C20.1697 10.3809 19.7605 10.7901 19.7605 11.2948C19.7605 11.7996 20.1697 12.2088 20.6744 12.2088C21.1795 12.2084 21.5884 11.7996 21.5884 11.2948Z"
                  class="instagram-cls-2" />
                <path
                  d="M15.9821 11.7949C13.6694 11.7949 11.7948 13.6695 11.7948 15.9822C11.7948 16.5603 11.9121 17.1111 12.1239 17.612C12.3357 18.1129 12.6424 18.5642 13.0214 18.9429C13.779 19.7005 14.8261 20.1694 15.9824 20.1694C17.1387 20.1694 18.1854 19.7009 18.9434 18.9429C19.3224 18.5639 19.6291 18.1129 19.8409 17.612C20.0527 17.1111 20.17 16.5603 20.17 15.9822C20.1693 13.6695 18.2947 11.7949 15.9821 11.7949Z"
                  class="instagram-cls-3" />
                <path
                  d="M15.9821 0.175781C7.25244 0.175781 0.175812 7.25241 0.175812 15.982C0.175812 24.7116 7.25244 31.7883 15.9821 31.7883C24.7117 31.7883 31.7883 24.7116 31.7883 15.982C31.7883 7.25241 24.7117 0.175781 15.9821 0.175781ZM24.7633 19.5781C24.7633 22.4419 22.4419 24.7633 19.5782 24.7633H12.386C9.52222 24.7633 7.20081 22.4419 7.20081 19.5781V12.3859C7.20081 11.3122 7.52712 10.3146 8.08631 9.48707C9.01818 8.10771 10.596 7.20078 12.386 7.20078H19.5785C21.3681 7.20078 22.9463 8.10771 23.8782 9.48672C24.437 10.3143 24.7633 11.3118 24.7633 12.3859V19.5781Z"
                  class="instagram-cls-4" />
              </g>
              <defs>
                <linearGradient id="instagram-gradient" x1="25.5" y1="5" x2="6" y2="28.5"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#BA00ED" />
                  <stop offset="0.5" stop-color="#FF5689" />
                  <stop offset="1" stop-color="#FFC420" />
                </linearGradient>
                <clipPath id="clip0_19_234">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </a>
          <a href="#" class="logo-social-twitter">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_19_239)">
                <path class="twitter-cls-1"
                  d="M8 25H6L14 17L6.5 7H12L17 13L22.5 7H24.5L17.5 14.5L25.5 25H20L14.5 18L8 25Z" />
                <path class="twitter-cls-2" d="M8.91843 8.25781L20.4746 23.7058H23.0914L11.5352 8.25781H8.91843Z" />
                <path class="twitter-cls-2"
                  d="M15.9821 0.175781C7.25244 0.175781 0.175812 7.25241 0.175812 15.982C0.175812 24.7116 7.25244 31.7883 15.9821 31.7883C24.7117 31.7883 31.7883 24.7116 31.7883 15.982C31.7883 7.25241 24.7117 0.175781 15.9821 0.175781ZM19.8571 24.9403L14.596 17.9058L8.08456 24.9403H6.41085L13.8482 16.9058L6.45757 7.02375H12.1538L16.9989 13.5022L22.9955 7.02375H24.6692L17.7467 14.5026L25.5533 24.9403H19.8571Z" />
              </g>
              <defs>
                <clipPath id="clip0_19_239">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>

          </a>
          <a href="#" class="logo-social-tiktok">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_19_243)">
                <path class="tiktok-cls-1"
                  d="M15 17V13.5C13.8333 13.5 11 13.5 9 16.5C6.99999 19.5 8.16666 22.1667 9 23.5C9.66666 24.6667 11.9 26.8 15.5 26C19.1 25.2 20.3333 22 20.5 20.5V12.5C20.8333 12.6667 21.6 13.1 22 13.5C22.4 13.9 24.5 14.3333 25.5 14.5V11C24.8333 10.8333 23.2 10.3 22 9.5C20.8 8.7 20.5 6.83333 20.5 6H17C17.1667 10.5 17.4 19.8 17 21C16.5 22.5 15 22.5 13 22.5C11 22.5 10.5 19.5 11.5 18C12.5 16.5 14 16.8333 15 17Z" />
                <path class="tiktok-cls-2"
                  d="M15.9821 0.175781C7.25244 0.175781 0.175812 7.25241 0.175812 15.982C0.175812 24.7116 7.25244 31.7883 15.9821 31.7883C24.7117 31.7883 31.7883 24.7116 31.7883 15.982C31.7883 7.25241 24.7117 0.175781 15.9821 0.175781ZM25.4795 11.8643V14.2381C24.3601 14.2384 23.2726 14.0192 22.247 13.5865C21.5873 13.308 20.973 12.9493 20.411 12.5159L20.4278 19.8222C20.4208 21.4675 19.7699 23.0134 18.5918 24.1777C17.6329 25.1254 16.4183 25.7282 15.1015 25.9235C14.792 25.9691 14.4773 25.9927 14.1587 25.9927C12.7492 25.9927 11.4109 25.536 10.3164 24.6937C10.1106 24.535 9.91351 24.3632 9.72595 24.1781C8.44915 22.9161 7.79091 21.2058 7.90155 19.4067C7.98621 18.0372 8.53451 16.7309 9.44846 15.7074C10.6578 14.3526 12.3498 13.6006 14.1587 13.6006C14.477 13.6006 14.792 13.6244 15.1015 13.6701V14.5479V16.9894C14.8082 16.8928 14.4949 16.8394 14.1686 16.8394C12.5159 16.8394 11.1787 18.1879 11.2033 19.8419C11.2191 20.9002 11.7969 21.8251 12.6498 22.3351C13.0505 22.5746 13.5114 22.7232 14.0031 22.7503C14.3884 22.7713 14.7587 22.7176 15.1011 22.6045C16.282 22.2143 17.1338 21.1054 17.1338 19.7973L17.1377 14.9044V5.97141H20.4068C20.4099 6.29526 20.4429 6.61138 20.5037 6.91767C20.7503 8.15723 21.4493 9.23276 22.4215 9.96582C23.2694 10.6054 24.3253 10.9844 25.4697 10.9844C25.4704 10.9844 25.4799 10.9844 25.4792 10.9837L25.4795 11.8643Z" />
              </g>
              <defs>
                <clipPath id="clip0_19_243">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>

          </a>
        </div>
        <!-- Партнеры -->
        <div class="multi-logo">
          <a href="#">
            <img src="/assets/images/b1.png" alt="olx" />
          </a>
          <a href="#">
            <img src="/assets/images/b2.png" alt="olx" />
          </a>
          <a href="#">
            <img src="/assets/images/b3.png" alt="olx" />
          </a>
          <a href="#">
            <img src="/assets/images/b4.png" alt="olx" />
          </a>
          <a href="#">
            <img src="/assets/images/b5.png" alt="olx" />
          </a>
        </div>
      </div>
    </div>
    <!-- Нижняя часть -->
    <div class="footer__bottom">
      <div class="container">
        <div class="left">
          <a href="#">Terms and Conditions</a>
          <a href="#">Privacy Police</a>
          <a href="#">Help</a>
          <a href="#">FAQ</a>
          <a href="#">Useful Information</a>
        </div>
        <span class="copyright">© 2006-2025 All rights on the materials</span>
      </div>
    </div>
  </footer>

</body>

</html>